

<li class="clearfix">


  <div class="message-data align-right">
    <span class="message-data-time" ><%= time_ago_in_words(message.created_at) %> ago</span> &nbsp; &nbsp;
    <span class="message-data-name" ><%= message.user.username %></span> <i class="fa fa-circle me"></i>

  </div>
  <div class="message other-message float-right">
    <%= message.body %>
  </div>
</li>
