
  <div class="chat-title">
  <div class="title">
    this open room
    </div>
    <div class="action">
    <%= link_to 'Create Room', new_chatgroup_path %>
    </div>
  </div>
  <ul class="chat">

         <%= render @chatgroups %>

</ul>
