<p id="notice"><%= notice %></p>

<ul class="collection with-header">
       <li class="collection-header light-blue darken-3 forum-head"><h4>Chat Groups</h4></li>

         <%= render @chatgroups %>
     </ul>




<%= link_to 'New Chatgroup', new_chatgroup_path %>
