
 <li class="collection-item avatar">
     <i class="Tiny material-icons circle blue lighten-1">markunread_mailbox</i>
      <span class="title medium-font"> <strong class="medium-font"><%= activity.owner ? activity.owner.name : 'Guest'  %></strong> </span>
<% if a.trackable %>
 <p> created <%= link_to a.trackable.title, main_app.article_path(a.trackable) %>  check it out and comment</p>
        <div class="secondary-content small-font"><%= a.created_at.strftime('%-d %B %Y') %></div>
          <% else %>
          <p>


      <strong> this article doesnt exist anymore</strong>
      </p>
      <% end %>

 </li>
