<li class="collection-item avatar">
    <i class="Tiny material-icons circle red accent-4">delete_forever</i>
     <span class="title medium-font"> <strong class="medium-font"><%= link_to activity.owner ? activity.owner.name : 'Guest', @user %></strong> </span>

   <p> Deleted this article </p>
       <div class="secondary-content small-font"><%= a.created_at.strftime('%-d %B %Y') %></div>


</li>
