<% provide(:title, 'All users') %>
<h5>All users</h5>
<<%= will_paginate  @user ,renderer: BootstrapPagination::Rails%>
<ul class="row">

 <%= render @users %>
</ul>
<%= will_paginate @user ,renderer: BootstrapPagination::Rails %>
