<li class="collection-item avatar">
     <i class="Tiny material-icons circle blue lighten-1">markunread_mailbox</i>
      <span class="title medium-font"> <strong class="medium-font"><%= link_to activity.owner ? activity.owner.name : 'Guest', @user %></strong> </span>
<% if a.trackable %>
 <p> created <%= a.trackable.topic.subject %> in forum check it out and comment</p>
        <div class="secondary-content small-font"><%= a.created_at.strftime('%-d %B %Y') %></div>
          <% else %>
          <p>


      <strong> this topic doesnt exist anymore</strong>
      </p>
      <% end %>

 </li>
