


<li class="list-group-item">
  <% if a.trackable %>
   <small class="text-muted"><%= a.created_at.strftime('%H:%M:%S %-d %B %Y') %></small><br/>
   <strong><%= activity.owner ? activity.owner.name : 'Guest' %></strong> <br>
    <%= a.trackable.topic.subject %> was added
  <% else %>
    An article that is currently deleted was edited.
  <% end %>
</li>