.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail > h4 {
    padding: 7px 5px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thumbnail h4 .info {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 0.6em;
    padding-left: 15px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 4px;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}

.thumbnail h4 .info > span {
    margin-right: 10px;
}

.thumbnail img {
    width: 100%;
}

.thumbnail a.btn {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.thumbnail .info {
    background-color: rgb(91, 192, 222)
}

.comments-header {
    border-bottom: 1px dotted gray;
    margin-bottom: 10px;
}

.comments-container {
    p {
        margin-bottom: 0px;
    }
    .comment-nav {
        margin-left: 5px;
        margin-bottom: 10px;
        a {
            font-size: 10px;
            font-weight: bold;
            color: #888;
        }
    }
}

.reply-form {
    display: none;
}

.comments-show {
    margin-left: 25px;
}

.article-preview img {
    width: 100%;
    height: 20vh
}
