.chat{

    &-single{
      background-color: #F7F8FA;
      padding: 16px;
      line-height: 28px;
      margin: 8px 0;
      border-radius: 4px;
  font-weight: 300;
  box-shadow: 0 2px 2px rgba(0,0,0,0.10), 0 3px 3px rgba(0,0,0,0.15);

  }
  &-title{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 43px;
font-weight: 300;
padding: 16px 0px 0px 0px;

  }
}
.main_chat{
  display: flex;
  flex-flow: row wrap;
  background-color: #fefefe;
  height: 86vh;
  &_title{
    color: gray;
    width:100%;
    height: 49px;
    line-height: 49px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    span{
      width: 54px;
      text-align: center;
      &:active,:focus,:hover{

        background-color: #F4F5F7;
      }
      line-height: 60px;
      background-color: #26A69A;

      a{
        color: white;
        transition: color 400ms ease-in-out;
        &:active,:focus,:hover{

          color: green;
        }
      }

    }
  }
  &_users{
    width:35%;
    background-color: #2B2F3E;
    height: 100%;
    padding:16px;
    overflow: auto;
  }
  &_messages{
    width:65%;
  background-color: #F4F5F7;
    display: flex;
    flex-flow:row wrap;
    align-items: flex-end;
  overflow: auto;
  }
  &_search{
    background-color: #fefefe;
    overflow: hidden;

  }
  &_send{
    align-self:flex-end;
    background-color: #fff;
    width:100%;

  }
  &_form{
    background-color: white;
    height: 150px;
  }

}

a.btn-icon {
  text-decoration: none;
  vertical-align: middle;
  float: left;
  &.right {
    float: right;
  }
}

a.btn-icon i:after {
  font-family: 'FontAwesome';
  font-style: normal;
  color: $black;
  font-size: 120%;
}

i.back:after {
  content: '\f053';
}

i.edit:after {
  content: '\f044';
}

i.send:after{
  content: '\f061';
}

i.chat:after{
  content: '\f086';
}

i.user:after{
  content: '\f007';
}

i.settings:after{
  content: '\f1de';
}

a.btn-big i:after{
  font-size: 200%;
  color:$lightgrey;
}

a.active i:after{
  color:$green;
}
#content {
  overflow-y: scroll;
  max-height: 600px;
  width: 100%;
  padding: 1em 2em 0;
  @include scrolling-shadows(#F4F5F7);
}



.message-container {
  margin-bottom: 3em;
  margin-left: 4em;
  position: relative;
  ::-webkit-scrollbar {
    display: none;
  }
}

.pic-container {
  position: absolute;
  left: -75px;
  img,
  .status {
    border-radius: 50%;
    max-width: 60px;
  }
  .status {
    background-color: $green;
    width: 12px;
    height: 12px;
    border: solid 3px white;
    position: absolute;
    top: 0;
  }
}

h3.name {
  margin: 0 0 0.8em;
  font-weight: 300;
  font-size: 80%;
  color: $black;
}

.message {
  background: white;
  padding: 1em 1.3em;
  border-radius: 10px;
}

.message p {
  margin: 0;
  line-height: 180%;
  font-size: 100%;
  color: $grey;
}

.time {
  font-size: 75%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 0.8em;
  color: $lightgrey;
}

//Footer


.editor {
  position: relative;
  border-bottom: solid 1px $lightgrey;
  width: 100%;
  input[type=text]{
    padding: .5em 1em .5em 1em;
    border: none;
    width: calc(100% - 32px);
    background-color: white;
    box-sizing: border-box;
    margin: 16px;
    height: 77px;

  }
  a{
    position: absolute;
    right:10px;
    top:15px;
  }
}

.tab{
  width:32%;
  display: inline-block;

  a{
    width: 100%;
    padding: 1.5em 0;
    text-align: center;
  }

}

.credits{
  position: absolute;
  bottom:10px;
  left:10px;
  color: $grey;
  font-size: 100%;
}
