

.forum-details{
  color: black;display: inline-block;text-align: center;
}

.forum-thread{
  min-height: 72px;
}
.forum-subject{
  color: black;
  display: block;
  color: gray;
}

.forum-head{
  color: white;
}
.forum-form{width: 100%;max-width: 700px;margin: 0 auto;}
.forumTitle{
  background: #0277bd;
    min-height: 62px;
    text-align: center;
    color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    h1{
      font-size: 22px;
    padding-top: 16px;
    }
}
.new_forum_thread{
  padding: 18px 0px;
}
.parse{
  color: black;
  font-weight: 300;
  padding-top: 10px;
}
.questions{
  margin: 2px;
  padding: 16px;
    border: 1px solid #f1f4f6;
  &-subject{
    color: #263238;
    text-transform: capitalize;
    margin: 8px;
    font-size: 18px;

}
  &-user{
    font-weight: 300;
    margin: 8px;
    font-size: 12px;


  }
  &-wrap{
    transition: all .20s ease .20s;
    padding: 8px;
    &:hover{

        background-color: #f1f4f6;


  }
  }
}


.forum{
  padding: 16px;
    display: flex;
    margin: 4px;
    padding: 8px !important;
    &-pic{
  width: 20%;
    }
    &-message{width: 80%;font-size: 16px;
    font-weight: 300;}
    &-detail{font-size: 12px;
    font-weight: 300;
    text-align: right;
    padding-bottom: 10px;}
}
.first{
  text-align: center;
    background-color: #0277bd;
    margin: 4px;
    display: block;
    border-radius: 2px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    color: white;
    padding: 8px 0 !important;
}
