header,
footer,
.brand-logo,
.main {
    margin-left: 240px;
}

@media only screen and (max-width: 992px) {
    header,
    .main,
    footer,
    .brand-logo {
        margin-left: 0;
    }
    .brand-logo {
        margin-left: 20px;
    }
}

.sign_up {
    background-color: rgba(255, 255, 255, .6);
    border: 2px solid #ddd;
    padding: 14px;
    margin-top: 2em;
    margin-left: 2em
}

.text-left {
    text-align: center
}

.white-h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
    margin-left: 2em;
    padding: 14px;
}

.follow-avatar {
    height: 80px;
    width: 80px
}

.followed-avatar {
    height: 200px;
    width: 200px
}