.sign_up {
    background-color: rgba(255, 255, 255, .6);
    border: 2px solid #ddd;
    padding: 14px;
    margin-top: 2em;
    margin-left: 2em
}

.text-left {
    text-align: center
}

.white-h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
    margin-left: 2em;
    padding: 14px;
}

.follow-avatar {
    height: 80px;
    width: 80px
}

.followed-avatar {
    height: 200px;
    width: 200px
}

