header,
.brand-logo,
.main {
    margin-left: 300px;
}
.side-nav {
    position: fixed;
    width: 300px;
}
@media only screen and (max-width: 992px) {
    header,
    .main,
    .brand-logo {
        margin-left: 0;
    }
    .brand-logo {
        margin-left: 20px;
    }
    .side-nav {
        position: fixed;
        width: 240px;
    }
}

.sign_up {
    background-color: rgba(255, 255, 255, .6);
    border: 2px solid #ddd;
    padding: 14px;
    margin-top: 2em;
    margin-left: 2em
}

.text-left {
    text-align: center
}

.white-h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
    margin-left: auto;
    padding: 14px;
    background-color: #fff;
    opacity: .8
}

.follow-avatar {
    height: 200px;
    width: 200px
}

.followed-avatar {
    height: 200px;
    width: 200px
}

.login-page {
    background-image: image-url('cover.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;min-height: 85vh
}

.input-field label {
    color: black
}

.notification-bar{position: static  }
.img-badge{height: 42px;width: 42px}
.login-form{width: 100%;max-width: 400px;margin: 0 auto;}
.loginTitle{
  background: #0277bd;
    min-height: 62px;
    text-align: center;
    color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    h2{
      font-size: 32px;
    padding-top: 16px;
    }
}
.loginContent{
  padding: 0px 10px;
}
.loginButton{
  width: 80%;
    margin: 0 auto;
    display: block;
    background-color: #0277bd !important;
}
.navbarBtn{
  height: 100%;
    background-color: #0277bd !important;
    line-height: 56px;
}
.card-panel {
    -webkit-transition: box-shadow .25s;
    transition: box-shadow .25s;
    padding: 10px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
}

.news-feed{

  .materialize-textarea{
    min-height: 100px;
  }
}
