// colors
$color-1: #3e454c; // Mako
$color-2: #1784c7; // Denim
$color-3: #ffffff; // White
$color-4: #ff7e66; // Salmon
$color-5: #343642; // blue-dark
$color-6: #2f889a; // blue-light
$color-7: #d2d8d8; // grey
$gray-light: #d2d8d8; // grey

$red: #d76666; // error messages
// fonts
$primary-font: 'Open Sans',
sans-serif;
// header size
$header-height-S: 45px;
$header-height-M: 80px;
//sidebar size
$sidebar-width-M: 110px;
$sidebar-width-L: 200px;
$header-zindex: 2;
$modal-zindex: 3;
