@import 'meyer-reset';
@import 'bourbon/bourbon';
@import 'variables'; // colors, fonts etc...
@import 'mixins'; // custom mixins
@import 'layout'; // responsive grid and media queries
@import 'microposts';
@import 'header';
@import 'header-sidebar';
@import 'form';
.container {
    widows: 100%;
    max-resolution: 1em;
    text-align: center;
}

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* miscellaneous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 45px;
    @include box_sizing;
}

#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}
