@import "bootstrap-sprockets";
@import "bootstrap";
@import 'forem/base';
@import "font-awesome";
@import "heade-footer";
@import "body";
@import "users";
@import "microposts";
@import "index";
@import 'chosen';
.container-fluid-main {
  padding-top: 3em;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
