@import "embed-asset";
@import "embed";
@import "meyer-reset";
@import 'chosen';
@import "materialize";
@import 'iphone';
@import "forums";
@import "iphone";
@import "users";
@import "microposts";
@import "index";
@import 'articles';
@import 'messages';
@import 'monokai';
@import "social-share-button";
@import "body";
@import "notification";
@import "heade-footer";
@import "chatgroups";
@import "simplemde.min";
html{font-family: sans-serif;}
h1,h2,h3,h4,h5,h6{text-transform: uppercase}
h3{font-size: 1.5em}
@media (max-width: 601px){
  .collection .collection-item.avatar .title {
    font-size: 10px;
}
.collection .collection-item.avatar .secondary-content {
    position: absolute;
    top: 10px;
    right: 16px;
}
.well-social-post .list-inline {font-size: 10px;padding: 0}
}
.collection .collection-item.avatar {
    min-height: 84px;
    padding-left: 72px;
    position: relative;
    width: 100%;
}
.side-nav li {
    float: none;
    line-height: 64px;
    border-bottom: 1px solid #e0e0e0;
}
.social-share-button-facebook {
	display: inline-block;
	width: 16px;
	height: 16px;
}
blockquote {background-color: #eeeeee;display: inline-block;line-height: 1em;padding: 0.5em;margin-left: 1.5em;border:2px solid;border-radius: 4px;color: #fff}
.parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 111;
}
.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 4px
}
.row {

    margin-bottom: 0px;
}
h4 {
    font-size: 1em;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 0 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.input-field label {
    color: black;
    font-weight: 300;
}

blockquote {
background-color: #eeeeee;
display: inline-block;
line-height: 1em;
padding: 0.5em;
margin-left: 0em;
border: 2px solid;
border-radius: 4px;
color: #000;
margin: 4px;}
