@import "font-awesome";
@import "editor/froala";
@import "meyer-reset";
@import 'chosen';
@import "materialize";
@import 'demo';
@import 'iphone';
@import "heade-footer";
@import "users";
@import "microposts";
@import "index";
@import 'articles';
@import 'messages';
@import 'monokai';
@import "social-share-button";
@import 'forem_base';
@import "body";
@import "notification";
h1,h2,h3,h4,h5,h6{text-transform: uppercase}
@media (max-width: 601px){
  .collection .collection-item.avatar .title {
    font-size: 10px;
}
.collection .collection-item.avatar .secondary-content {
    position: absolute;
    top: 10px;
    right: 16px;
}
.well-social-post .list-inline {font-size: 10px;padding: 0}
}

.side-nav li {
    float: none;
    line-height: 64px;
    border-bottom: 1px solid #e0e0e0;
}
.social-share-button-facebook {
	display: inline-block;
	width: 16px;
	height: 16px;
}
blockquote {background-color: #eeeeee;display: inline-block;line-height: 1em;padding: 0.5em;margin-left: 1.5em;border:2px solid;border-radius: 4px;color: #fff}
.parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 111;
}
.post-body{
  width: calc(100% - 16px);display: block;max-width: 100%;line-height: 30px;
}
.post-body p{
    color: rgba(0,0,0,0.71);
    padding: 0;
    -webkit-font-smoothing: antialiased;line-height: 35px}
