@import "font-awesome";
@import "meyer-reset";
@import 'dropzone';
@import 'chosen';
@import "materialize";
@import 'demo';
@import 'iphone';
@import "heade-footer";
@import "users";
@import "microposts";
@import "index";
@import 'articles';
@import 'messages';
// @import 'search';
@import 'forem_base';
@import "body";
@import "notification";
h3,
.h3 {
    font-size: 14px
}

.user-pad2 {
    padding: 5px
}
.btn, .btn-large, .btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 0.3rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;padding-top: 0;
}

main {
    flex: 1 0 auto;
}
.image-card{height: 200px}
.btn, .btn-large, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 0.3rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #01579b;
    background-color: #f0f0f0;;
}
