@import "font-awesome";
@import "meyer-reset";
@import 'dropzone';
@import 'chosen';
@import "materialize";
@import 'demo';
@import 'iphone';
@import "heade-footer";
@import "users";
@import "microposts";
@import "index";
@import 'articles';
@import 'messages';
// @import 'search';
@import 'forem_base';
@import "body";
@import "notification";
h3,
.h3 {
    font-size: 14px
}

.user-pad2 {
    padding: 5px
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
