@import "embed-asset";
@import "embed";
@import "meyer-reset";
@import 'chosen';
@import "materialize";
@import 'demo';
@import 'iphone';
@import "heade-footer";
@import "users";
@import "microposts";
@import "index";
@import 'articles';
@import 'messages';
@import 'monokai';
@import "social-share-button";
@import 'forem_base';
@import "body";
@import "notification";
html{font-family: 'Lato', sans-serif;}
h1,h2,h3,h4,h5,h6{text-transform: uppercase}
h3{font-size: 2em}
@media (max-width: 601px){
  .collection .collection-item.avatar .title {
    font-size: 10px;
}
.collection .collection-item.avatar .secondary-content {
    position: absolute;
    top: 10px;
    right: 16px;
}
.well-social-post .list-inline {font-size: 10px;padding: 0}
}

.side-nav li {
    float: none;
    line-height: 64px;
    border-bottom: 1px solid #e0e0e0;
}
.social-share-button-facebook {
	display: inline-block;
	width: 16px;
	height: 16px;
}
blockquote {background-color: #eeeeee;display: inline-block;line-height: 1em;padding: 0.5em;margin-left: 1.5em;border:2px solid;border-radius: 4px;color: #fff}
.parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 111;
}
.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 0
}
.row {

    margin-bottom: 0px;
}
h4 {
    font-size: 1em;
}
