<div class="additional_info" style="display:none">
  <br/>
  <table class="table table-striped table-hover">
    <tr>
      <th>Tolerance time:</th>
      <th>IP:</th>
      <th>User Agent:</th>
      <th>Referer:</th>
    </tr>
    <tr>
      <td>
        <%= comment.tolerance_time || :none %>
      </td>
      <td>
        <%= comment.ip %>
      </td>
      <td>
        <%= comment.user_agent %>
      </td>
      <td>
        <%= comment.referer %>
      </td>
    </tr>
  </table>
</div>
