<div class="row">
<span class="first col s12 m10 l9 offset-m1 offset-l2 ">
			<%= @forum_thread.subject %> by <%= @forum_thread.user.name %>
			<span class="icon-edit new"></span>
		</span>


	  <%= render @forum_thread.forum_posts %>
</div>


<div class="row">

    <%= render partial: "forum_posts/form" %>

		</div>
