<span class="first">
			<%= @forum_thread.subject %> by <%= @forum_thread.user.name %>
			<span class="icon-edit new"></span>
		</span>


  <%= render @forum_thread.forum_posts %>


    <%= render partial: "forum_posts/form" %>
