<span class="first">
			<%= @forum_thread.subject %> Created by <%= @forum_thread.user.name %>
			<span class="icon-edit new"></span>
		</span>

<ul class="timeline">
  <%= render @forum_thread.forum_posts %>
</ul>

  <hr />

    <%= render partial: "forum_posts/form" %>
