<footer class="page-footer">

          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Insomniax
            <a class="grey-text text-lighten-4 right" href="/">Insomniax</a>
        </div>
          </div>
</footer>
