<% if logged_in? %>
<div class="col s12 m4 l3 hide-on-small-only fixed"> 
    
  <div id="sidebar">
    <ul class="collection">
        <li>
        
       <%= link_to(main_app.conversations_path, :class => 'collection-item') do %>
  <span class="new badge"> <%= current_user.mailbox.inbox(:unread => true).count(:id, :distinct => true)  %></span> Conversations
<% end %>
        </li>
        
        <li><%= link_to 'Articles', main_app.articles_path, class: 'collection-item' %></li>
        <li><h3 class="center-align">Forums</h3></li>
        <li><%= link_to 'Forums', forem.forums_path, class: 'collection-item' %></li>
        <li><a href="/forums/categories/networking" class="collection-item">Networking</a></li>
        <li><a href="/forums/categories/programing" class="collection-item">Programing</a></li>
        <li><a href="/forums/categories/etthical-hacking" class="collection-item">Ethical hacking</a></li>
        <li><a href="/forums/categories/basic-computing" class="collection-item">Basic computing</a></li>
        <li><a href="/forums/categories/basic-help" class="collection-item">Help</a></li>

    </ul>
  </div>
     
      </div>


<% end %>
