<% if logged_in? %>
<div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
        <!-- Grey navigation panel

              This content will be:
          3-columns-wide on large screens,
          4-columns-wide on medium screens,
          12-columns-wide on small screens  -->

      </div>
<div id="sidebar-wrapper" class="col-lg-3 col-sm-3 col-xs-12  hidden-xs">
  <div id="sidebar">
    <ul class="nav list-group">
        <li><%= link_to 'Your Conversations', main_app.conversations_path, class: 'list-group-item' %></li>
        <li><%= link_to 'Articles', main_app.articles_path, class: 'list-group-item' %></li>
        <li><h3 class="text-center">Forums</h3></li>
        <li><%= link_to 'Forums', forem.forums_path, class: 'list-group-item' %></li>
        <li><a href="/forums/categories/networking" class="list-group-item">Networking</a></li>
        <li><a href="/forums/categories/programing" class="list-group-item">Programing</a></li>
        <li><a href="/forums/categories/etthical-hacking" class="list-group-item">Ethical hacking</a></li>
        <li><a href="/forums/categories/basic-computing" class="list-group-item">Basic computing</a></li>
        <li><a href="/forums/categories/basic-help" class="list-group-item">Help</a></li>

    </ul>
  </div>
</div>
<% end %>
