<% if logged_in? %>
<div class="col s12 m4 l3 hide-on-small-only fixed">

  <div id="sidebar">
    <ul class="collection">
      <li>

        <%= link_to(main_app.conversations_path, :class => 'collection-item') do %>
        <span class="new badge">
          <%= current_user.mailbox.inbox(:unread => true).count(:id, :distinct => true)  %></span>
        Conversations
        <% end %>
      </li>

      <li><%= link_to 'Articles', main_app.articles_path, class: 'collection-item' %></li>
      <li>
        <h3 class="center-align">Forums</h3>
      </li>
      
    </ul>
  </div>

</div>

<% end %>
