<% if logged_in? %>
<div id="sidebar-wrapper" class="col-lg-3 col-sm-3 col-xs-12">
  <div id="sidebar">
    <ul class="nav list-group">
        <li><%= link_to 'Your Conversations', main_app.conversations_path, class: 'list-group-item' %></li>


    </ul>
  </div>
</div>
<% end %>
